@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.heading{
  font-family: "Merriweather", serif;
}

.hidden-scrollbar {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

.sticky-header {
  position: sticky;
  z-index: 10;
  background-color: #FAFAFA;
}

.btn {
  border: 1px solid #9b999961; 
  border-radius: 0.25rem; 
  cursor: pointer;
  padding: 0.75rem;  /* p-3 */
  box-shadow: 0 1px 2px rgba(210,210,210,0.3);  /* custom-shadow */
  background-color: #ffffff; 
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-shadow {
  box-shadow: 0 0px 16px rgba(210,210,210,0.3);
}

.boxProperty{
  @apply flex items-center justify-center p-3;
}

.flex-center{
  @apply flex items-center justify-center;
}
.filterButton{
  @apply text-sm font-bold border border-[#d2d2d2] rounded-md cursor-pointer p-2 custom-shadow;
}
